# yamllint disable rule:line-length
name: renovate
on: # yamllint disable-line rule:truthy
  schedule:
    - cron: 0 0 * * 1-5
  push:
    branches:
      - main
jobs:
  renovate:
    runs-on: [ubuntu-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@66387ab8c2464d575b933fa44e9e5a86b2822809 # v44.2.4
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}
          env-regex: "^(?:RENOVATE_\\w+|LOG_LEVEL|GITHUB_COM_TOKEN)$"
        env:
          LOG_LEVEL: "info"
          RENOVATE_PLATFORM: "github"
          RENOVATE_REPOSITORIES: jheuel/rust-apexcharts
