# yamllint disable rule:line-length
name: renovate
on: # yamllint disable-line rule:truthy
  schedule:
    - cron: 0 0 * * 1-5
  push:
    branches:
      - main
jobs:
  renovate:
    runs-on: [ubuntu-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@d65ef9e20512193cc070238b49c3873a361cd50c # v46.1.1
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}
          env-regex: "^(?:RENOVATE_\\w+|LOG_LEVEL|GITHUB_COM_TOKEN)$"
        env:
          LOG_LEVEL: "info"
          RENOVATE_PLATFORM: "github"
          RENOVATE_REPOSITORIES: jheuel/rust-apexcharts
